<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="feedback.css">
	<title>feedback page</title>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		.overview{
			background-color: #87BFFC;
			height: 200px;
			border-bottom-right-radius: 200px;
				border-bottom-left-radius: 20px;
				margin-bottom: 20px;
		}
		.overview1{
			background-color: #10A732;
			margin-bottom: 15px;
			padding: 80px;
			border-bottom-left-radius: 200px;
			border-bottom-right-radius: 20px;
		}
		h1{
			text-align: center;
			margin-bottom: 20px;
			color: darkblue;
		}
		p{
			font-size: 20px;
		}
		h2{
			font-size: 30px;
			color: gold;
		}
		h3{
			background-color: #FFF3D9;
			color: #FF8300;
			width: 100px;
		}
		.p1{
			font-size: 25px;
		}
	</style>
</head>
<body>

	<!-- this is navigation bar -->

	<div class="navbar">
    <a href="home.html" class="active">Home</a>
    <a href="book.html" class="nav-link">Book</a>
    <a href="#" class="nav-link">Student Login</a>
    <a href="#" class="nav-link">Admin Login</a>
    <a href="#" class="nav-link">Feedback List</a>
  </div>


	
	<div class="overview">
		<h1>Library Feedback</h1>
		<p>Gather feedback for your library services with this library feedback form template by 123 Form Builder. Build your own questions and collect responses in a secure repository from where you can generate reports. No coding needed.</p>
	</div><div class="overview1">
		<h2>Library Feedback Form</h2><hr><br><br>
		<p class="p1">you can fill this form for give feedback about our library or this system </p><br>
		<h3>Fill that </h3><hr></div>
		<center>
<iframe src="feedbackform.html" height="600" width="800">

</iframe>
</center>




	   
<!-- this is footer section  -->
  <footer>
   
      <h2 class="FirstFooter">You can find us at</h2>
      <ul class="social-icons">

    <li><a href="https://www.youtube.com/@hemrajkhatri123"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.facebook.com/hemraj.khatri404"><i class="fab fa-linkedin"></i></a></li>
  </ul>

    <hr>
    <div class="footer-container">
    <div class="footer-content">
    
      <ul class="footer-links">
        <li><h2><a href="#">Product</a></h2></li>
        <li><a href="#">Createe Websites</a></li>
        <li><a href="#">Secure Cloud Hosting</a></li>
        <li><a href="#">Engage Your Audience</a></li>
        <li><a href="#">Website Support</a></li>
      </ul>

         <ul class="footer-links">
        <li><h2><a href="#">Product</a></h2></li>
        <li><a href="#">Createe Websites</a></li>
        <li><a href="#">Secure Cloud Hosting</a></li>
        <li><a href="#">Engage Your Audience</a></li>
        <li><a href="#">Website Support</a></li>
      </ul>

         <ul class="footer-links">
        <li><h2><a href="#">Product</a></h2></li>
        <li><a href="#">Createe Websites</a></li>
        <li><a href="#">Secure Cloud Hosting</a></li>
        <li><a href="#">Engage Your Audience</a></li>
        <li><a href="#">Website Support</a></li>
      </ul>


      <ul class="footer-links">
        <li><h2><a href="#">Product</a></h2></li>
        <li><a href="#">Createe Websites</a></li>
        <li><a href="#">Secure Cloud Hosting</a></li>
        <li><a href="#">Engage Your Audience</a></li>
        <li><a href="#">Website Support</a></li>
      </ul>
    </div>
     </div>
     <hr>
       <marquee> <p class="copyright">&copy; 2023 Library Management System. All rights reserved.</p></marquee>
   </footer>

</body>
</html>